.App {
  text-align: center;
}
.App nav{
  margin: 20px;
  padding: 10px;
}

.App nav ul{
  list-style-type: none;
}

.App nav ul li{
  margin: 10px;
  padding: 10px;
  display: inline-block;
}
.App a {
  text-decoration: none;
  color: black;
}

.App a.navlink {
  text-decoration: none;
  color: red;
}